@model BaiTapLon_Web.Models.Entities.PhongChieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong >Chi tiết phòng chiếu</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        @*@Html.ActionLink("Create New", "Create", "Phim")*@
                        <a href="~/Admin/PhongChieu/Edit/@Model.MaPhong" class="btn btn-sm btn-success">
                            <i class="fa fa-edit"></i>
                        </a>                   
                        <a href="@Url.Action("Index", "PhongChieu")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left" s></i> </a>
                    </div>
                </div>
            </div>
            <div class="card-body my-3">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th style="width:250px">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>

                    <tr>
                        <td>Mã rạp</td>
                        <td>@Html.DisplayFor(model => model.MaRap)</td>
                    </tr>

                    <tr>
                        <td>Tên Phòng</td>
                        <td>@Html.DisplayFor(model => model.TenPhong)</td>
                    </tr>

                    <tr>
                        <td>Tổng ghế</td>
                        <td>@Html.DisplayFor(model => model.TongGhe)</td>
                    </tr>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div>
    <h4>PhongChieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaRap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaRap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongGhe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
