@model IEnumerable<BaiTapLon_Web.Models.Entities.PhongChieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Danh mục phòng chiếu</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        @*@Html.ActionLink("Create New", "Create", "Phim")*@
                        <a href="@Url.Action("Create","PhongChieu")" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Thêm</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table  class ="table table-bordered table-striped">
                    <tr>
                        <th>
                            Mã Rạp
                        </th>
                        <th>
                            Mã Phòng
                        </th>
                        <th>
                            Tên phòng
                        </th>
                        <th>
                            Tổng Ghế
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaRap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongGhe)
                            </td>
                            <td>
                                <a href="~/Admin/PhongChieu/Edit/@item.MaPhong" class="btn btn-sm btn-success">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="~/Admin/PhongChieu/Delete/@item.MaPhong" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a href="~/Admin/PhongChieu/Details/@item.MaPhong" class="btn btn-sm btn-info">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
