<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Google Font: Source Sans Pro -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="~/Public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/Public/css/Layout_Admin.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("header", required: false)
</head>
<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Admin" class="brand-link">
                <img src="~/Public/images/Logo/house.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Public/images/Logo/movie-ticket.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Nhóm 13</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/Public/images/Logo/video-player.png" class="img-circle elevation-2" alt="User Image">
                                <p>
                                    Thông tin phim
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Phim")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục phim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","TheLoais")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục thể loại</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","HangSXes")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục hãng sản xuất</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","NuocSanXuats")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục nước sản xuất</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/Public/images/Logo/movie-theater.png" class="img-circle elevation-2" alt="User Image">
                                <p>
                                    Rạp và lịch chiếu phim
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","RapPhim")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Rạp phim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","PhongChieu")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Phòng chiếu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","BuoiChieu")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Buổi chiếu</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/Public/images/Logo/programmer.png" class="img-circle elevation-2" alt="User Image">
                                <p>
                                    Người dùng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","NhanViens")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục nhân viên</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","KhachHangs")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh mục khách hàng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <a href="/QuanLy/DangNhap" class="btn btn-sm btn-danger">Đăng xuất</a>
            </div>
            <strong>Bài tập lớn lập trình Web nhóm 13.</strong> 
            
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Public/plugins/jquery/jquery.min.js"></script>
    <script src="~/Public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/dist/js/adminlte.min.js"></script>
    <script src="~/Public/dist/js/demo.js"></script>
    <script src="~/Public/js/jqueryBuoiChieu.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("footer", required: false)
</body>
</html>
