@model BaiTapLon_Web.Models.Entities.NhanVien

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="content-wrapper">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaNhanVien)
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Sửa thông tin nhân viên</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index", "NhanViens")" class="btn btn-sm btn-info">


                            <img src="~/Public/images/icon/back.png" />    Back
                        </a>


                    </div>
                </div>

            </div>
            <form action="~/Admin/NhanViens/Edit" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Mã nhân viên<span class="text-danger">(*)</span></label>
                                    @Html.EditorFor(model => model.MaNhanVien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label>Tên nhân viên<span class="text-danger">(*)</span></label>
                                    @Html.EditorFor(model => model.TenNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label>Tên rạp phim<span class="text-danger">(*)</span></label>

                                    @Html.DropDownList("MaRap", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaRap, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label>Chọn Ảnh  </label>

                                    <label for="uploadhinh" class="btn btn-primary btn-block btn-outlined">@Model.Anh</label>

                                    <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" style="display: none" />

                                </div>

                                <div class="form-group">
                                    <label>Căn cước công dân<span class="text-danger">(*)</span></label>
                                    @Html.EditorFor(model => model.SoCMND, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoCMND, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Chức vụ</label>
                                    @Html.DropDownListFor(model => model.ChucVu, new[] { new SelectListItem { Text = "Bán vé", Value = "Bán Vé" }, new SelectListItem { Text = "Quản lý", Value = "Quản Lý" } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    @Html.TextAreaFor(model => model.DiaChi, new { @class = "form-control", @rows = "5" })
                                    @*@Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>



                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">

                                <div class="form-group">
                                    <br /> <label>Ngày sinh</label>
                                    @{
                                        string ngaySinhStr = @Model.NgaySinh.ToString().Split(' ')[0];
                                        string year = ngaySinhStr.Split('/')[2];
                                        string month = ngaySinhStr.Split('/')[0].PadLeft(2, '0');
                                        string day = ngaySinhStr.Split('/')[1].PadLeft(2, '0');
                                        string inputDateNgaySinh = year + "-" + month + "-" + day;

                                        <input type="date" name="NgaySinh" value="@inputDateNgaySinh" />

                                    }
                                </div>
                                <div class="form-group">
                                    <br /><label>Giới tính: </label>
                                    Nam: @Html.RadioButtonFor(m => m.GioiTinh, "Nam")
                                    Nữ: @Html.RadioButtonFor(m => m.GioiTinh, "Nữ")
                                    @* @Html.DropDownListFor(model => model.GioiTinh, new[] { new SelectListItem { Text = "Nam", Value = "Nam" }, new SelectListItem { Text = "Nữ", Value = "Nữ" } }, new { @class = "form-control" })*@
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Ngày vào làm</label>
                                    @{
                                        string ngayvaolamStr = @Model.NgayVaoLam.ToString().Split(' ')[0];
                                        string nam = ngayvaolamStr.Split('/')[2];
                                        string thang = ngayvaolamStr.Split('/')[0].PadLeft(2, '0');
                                        string ngay = ngayvaolamStr.Split('/')[1].PadLeft(2, '0');
                                        string DateVaoLam = nam + "-" + thang + "-" + ngay;

                                        <input type="date" name="Ngayvaolam" value="@DateVaoLam" />

                                    }

                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Hệ số lương</label>
                                    @Html.EditorFor(model => model.HSL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HSL, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-success" type="submit" name="Save" value="Save"> <img src="~/Public/images/icon/save.png" />  Lưu</button>
                </div>
            </form>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
